body {
	background: #D2D7D3;
}
.navbar-brand img {
	max-height: 100%;
}
.navbar-brand {
	padding: 6px;
}
.navbar {
	border-radius: 0px;
}
footer p {
	border-top: 1px solid #CCC;
	padding-top: 6px;
	margin-top: 20px;
	font-size: 11px;
}
.panel-login {
	position: fixed;
	width: 40%;
	left: 50%;
	margin-left: -21%;
	top: 30%;
	padding-bottom: 40px;
}
.panel-login .btn-success {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.panel-login a img {
	height: 40px;
}
body {
    width:100%;
    height:100%;
}
img {
	max-width: 100%;
}
div.input {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	clear: both;
}
div.input label {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
}
div.input input[type="text"] {
	display: inline-block;
	width: 100%;
	padding: 6px;
	border: 1px solid #CCC;
	border-radius: 4px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #999;
}
#alerta {
	color: red;
	font-size: 12px;
	text-align: center;
}
#alerta.sucesso {
	color: blue;
}