body {
	background: #DADFE1;
}
.navbar-inverse {
	background: #6C7A89;
	border: none !important;
}
.navbar-brand img {
	max-height: 100%;
}
.navbar-brand {
	padding: 6px;
}
.navbar {
	border-radius: 0px;
}
.navbar a {
	color: #FFF !important;
	font-family: "Oxygen";
	font-weight: 300;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar a:hover {
	background: #ABB7B7 !important;
}
.panel-login {
	position: fixed;
	width: 40%;
	left: 50%;
	margin-left: -21%;
	top: 30%;
	padding-bottom: 40px;
}
.panel-login .btn-success {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 50px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.panel-login a img {
	height: 40px;
}
body {
    width:100%;
    height:100%;
}
img {
	max-width: 100%;
}
div.input {
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	clear: both;
}
div.input label {
	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
}
div.input input[type="text"] {
	display: inline-block;
	width: 100%;
	padding: 6px;
	border: 1px solid #CCC;
	border-radius: 4px;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #999;
}
#alerta {
	color: red;
	font-size: 12px;
	text-align: center;
}
#alerta.sucesso {
	color: blue;
}
.select2-input {
	width: 100% !important;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Lato";
	font-weight: 300;
	text-transform: uppercase;
	padding-bottom: 4px;
	color: #6C7A89;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #95A5A6;
}
footer p {
	margin: 0px;
	line-height: 60px;
	font-size: 12px;
	font-family: "Oxygen";
	font-weight: 300;
	text-transform: uppercase;
	color: #ECECEC;
}
.btn-escolher-estudante {
	display: inline-block;
	padding: 8px;
	height: 90px;
	margin-bottom: 12px;
	border-radius: 8px;
	position: relative;
	width: 47%;
	margin-left: 1%;
	margin-right: 1%;
	text-align: center;
}
.btn-escolher-estudante:hover {
	text-decoration: none;
	background: #D2D7D3;
	transition: all 0.4s ease;
}
.btn-escolher-estudante:hover img {
	filter: gray; /* IE6-9 */
 	-webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
.btn-escolher-estudante:hover p.ator {
	display: none;
}
.btn-escolher-estudante:hover p.nome {
	color: #95A5A6;
	font-size: 18px;
}
.btn-escolher-estudante p.nome {
	text-transform: uppercase;
	font-family: "Oxygen";
	font-weight: 700;
	font-size: 16px;
	color: #6C7A89;
	display: inline-block;
	margin-left: 12px;
}
.btn-escolher-estudante p.ator {
	position: absolute;
	right: 12px;
	bottom: 12px;
	font-size: 12px;
	color: #CCC;
}
.btn-escolher-estudante img {
	display: inline-block;
	height: 66px;
}
.p-ator {
	font-family: "Lato";
	font-weight: 300;
	font-size: 22px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 0px;
}
.titulo-tab {
	font-size: 20px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #2C3E50;
	line-height: 25px;
	margin: 0px;
	text-transform: none;
	width: 100%;
	background: #3498db;
	color: #FFF;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 12px;
	clear: both;
	display: inline-block;
	margin-bottom: 20px;
}
.titulo-tab small {
	color: #ECECEC;
}
.z-content-inner {
	position: relative;
}
.z-content-inner .row {
	margin-left: 20px;
	margin-right: 20px;
}
.z-content-inner .btn-group {
	text-align: right;
	width: 100%;
	position: absolute;
	right: 8px;
	top: 8px;
}
.z-content-inner .btn-group a {
	border-radius: 20px;
	display: inline-block;
	float: none;
	margin-left: -6px !important;
	font-family: "Oxygen";
	font-weight: 300;
}
.z-content-inner .btn-group a.btn-info {
	background: #34495E;
	border-color: #34495E;
}
.z-tabs.flat.vertical.contained > .z-container > .z-content > .z-content-inner {
	padding: 0px;
	padding-bottom: 20px;
}